#container {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid lightgray;
    width: 100vw;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    z-index: 5;
    background-color: white;
}

#online-container {
    position: relative;
    width: 33.33vw;
    min-width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
}

#appkom-container {
    height: 100%;
    width: 33.33vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sponsor-container {
    position: relative;
    width: 33.33vw;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

@media (max-width:100px){
    #container {
        justify-content: center;
    }
    #online-container {
        display: none;
    }
    #sponsor-container {
        display: none;
    }
}

@media (min-width:101px) and (max-width:400px){
    #container {
        justify-content: space-between;
    }
    #sponsor-container {
        display: none; 
    }
}


img{ 
    width: 120px;
    height: 30px;
    margin-left: 12.5px;
    background-image: url('./online_logo_stor.svg');
    background-repeat: no-repeat;
    background-position: center;
}
